/**
 * Exort Ubermenu Skin
 */

.ubermenu-skin-exort-style {
  position: static;
}

.ubermenu .ubermenu-target-text {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.ubermenu-skin-exort-style span {
  font-size: 11px;
  letter-spacing: 0.5px;
}

.ubermenu-skin-exort-style.ubermenu-responsive-toggle {
  display: none;
}

.ubermenu-skin-exort-style {
  border: none;
  background: none;
}

.ubermenu-skin-exort-style .ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target,
.ubermenu-skin-exort-style .ubermenu-item-level-0.ubermenu-current-menu-parent > .ubermenu-target,
.ubermenu-skin-exort-style .ubermenu-item-level-0.ubermenu-current-menu-ancestor > .ubermenu-target {
  text-decoration: none;
}

.ubermenu-skin-exort-style .ubermenu-item-level-0 > .ubermenu-target {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 0;
  padding-bottom: 0;
}

.ubermenu-skin-exort-style .ubermenu-item-level-0 > .ubermenu-target span {
  font-size: 12px;
  letter-spacing: 2px;
  color: #777;
}

.ubermenu-skin-exort-style .ubermenu-item-level-0:first-child > .ubermenu-target {
  box-shadow: none;
}

.ubermenu-skin-exort-style .ubermenu-item-level-0:first-child > .ubermenu-submenu-drop > .ubermenu-item-level-1:nth-child(1) {
  width: 42%;
}
.ubermenu-skin-exort-style .ubermenu-item-level-0:first-child > .ubermenu-submenu-drop > .ubermenu-item-level-1:nth-child(2) {
  width: 41%;
}
.ubermenu-skin-exort-style .ubermenu-item-level-0:first-child > .ubermenu-submenu-drop > .ubermenu-item-level-1:nth-child(3) {
  width: 20%;
}

.ubermenu-skin-exort-style .ubermenu-item-level-0.ubermenu-active > .ubermenu-target {
  color: #181818;
  text-decoration: none;
}

body.header-default-dark .ubermenu-skin-exort-style .ubermenu-item-level-0 > .ubermenu-target,
body.header-transparent-dark .ubermenu-skin-exort-style .ubermenu-item-level-0 > .ubermenu-target,
body.header-default-dark .ubermenu-skin-exort-style .ubermenu-item-level-0.ubermenu-active > .ubermenu-target,
body.header-transparent-dark .ubermenu-skin-exort-style .ubermenu-item-level-0.ubermenu-active > .ubermenu-target,
body.header-default-dark .ubermenu-skin-exort-style .ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target,
body.header-default-dark .ubermenu-skin-exort-style .ubermenu-item-level-0.ubermenu-current-menu-parent > .ubermenu-target,
body.header-default-dark .ubermenu-skin-exort-style .ubermenu-item-level-0.ubermenu-current-menu-ancestor > .ubermenu-target,
body.header-transparent-dark .ubermenu-skin-exort-style .ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target,
body.header-transparent-dark .ubermenu-skin-exort-style .ubermenu-item-level-0.ubermenu-current-menu-parent > .ubermenu-target,
body.header-transparent-dark .ubermenu-skin-exort-style .ubermenu-item-level-0.ubermenu-current-menu-ancestor > .ubermenu-target,
body.header-default-dark #header .header-top-nav .header-mini-cart > a,
body.header-default-dark #header .header-top-nav .header-search-btn > a,
body.header-transparent-dark #header .header-top-nav .header-mini-cart > a,
body.header-transparent-dark #header .header-top-nav .header-search-btn > a {
  color: #ececec;
}
body.header-transparent-dark #header .menu > li > a span {
  color: #ececec;
}
body.header-transparent-light #header .menu > li > a span {
  color: #777;
}
body.header-transparent-light #header .menu > li:hover > a span,
body.header-transparent-light #header .menu > li.current-menu-item > a span,
body.header-transparent-light #header .menu > li.active > a span {
  color: #181818;
}

.ubermenu-skin-exort-style .ubermenu-item-level-0 > .ubermenu-submenu-type-stack > .ubermenu-item > .ubermenu-target {
  color: inherit;
}

.ubermenu-skin-exort-style .ubermenu-item-level-0 > .ubermenu-submenu-type-stack > .ubermenu-item > .ubermenu-target:hover {
  color: #181818;
}

.ubermenu-skin-exort-style .ubermenu-submenu.ubermenu-submenu-drop {
  background: #181818;
  border: none;
}

.ubermenu-skin-exort-style.ubermenu-horizontal .ubermenu-submenu-drop.ubermenu-submenu-align-full_width > .ubermenu-column {
  display: table-cell;
  float: none;
  width: 1%;
}

.ubermenu-skin-exort-style .ubermenu-submenu .ubermenu-target {
  line-height: 2em;
  padding: 7px 25px;
}

.ubermenu-skin-exort-style .ubermenu-colgroup .ubermenu-column,
.ubermenu-skin-exort-style .ubermenu-custom-content-padded,
.ubermenu-skin-exort-style .ubermenu-nonlink,
.ubermenu-skin-exort-style .ubermenu-retractor,
.ubermenu-skin-exort-style .ubermenu-submenu-padded,
.ubermenu-skin-exort-style .ubermenu-submenu-type-stack > .ubermenu-item-normal > .ubermenu-target,
.ubermenu-skin-exort-style .ubermenu-target,
.ubermenu-skin-exort-style .ubermenu-widget,
.ubermenu-responsive-toggle {
  padding-left: 25px;
  padding-right: 25px;
}

.ubermenu-skin-exort-style .ubermenu-autocolumn,
.ubermenu-skin-exort-style .ubermenu-submenu-type-stack {
  padding-top: 0;
  padding-bottom: 0;
}

.ubermenu-skin-exort-style .ubermenu-has-submenu-mega .ubermenu-submenu .ubermenu-target {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ubermenu-skin-exort-style .ubermenu-submenu-type-stack > .ubermenu-item-normal > .ubermenu-target {
  padding-top: 7px;
  padding-bottom: 7px;
}

.ubermenu-skin-exort-style .ubermenu-submenu .ubermenu-column.ubermenu-item-level-1 {
  padding: 0 15px;
}

.ubermenu-skin-exort-style .ubermenu-submenu .ubermenu-item.ubermenu-active > .ubermenu-submenu-type-flyout {
  top: -20px;
}

.ubermenu-skin-exort-style .ubermenu-submenu .ubermenu-submenu-type-flyout {
  top: -20px;
}

.ubermenu-skin-exort-style .ubermenu-submenu-type-flyout > .ubermenu-item {
  min-width: 200px;
}

.ubermenu .ubermenu-submenu .ubermenu-column.ubermenu-item-level-1:first-child {
  border-left: none;
}

.ubermenu .ubermenu-submenu .ubermenu-column-auto {
  width: 100%;
}

#header .ubermenu-skin-exort-style .ubermenu-submenu.ubermenu-submenu-drop {
  padding: 20px 0;
}

#header .ubermenu-skin-exort-style .ubermenu-has-submenu-mega .ubermenu-submenu.ubermenu-submenu-drop {
  padding: 40px 0;
}

.ubermenu-skin-exort-style.ubermenu-horizontal .ubermenu-item-level-0 > .ubermenu-submenu-drop {
  border-top: none;
}

.ubermenu-skin-exort-style .ubermenu-tab-content-panel {
  background: #181818;
}

.ubermenu-skin-exort-style .ubermenu-submenu,
.ubermenu-skin-exort-style .ubermenu-submenu .ubermenu-target {
  color: #777;
  letter-spacing: 0.04em;
}

.ubermenu-skin-exort-style .ubermenu-submenu .ubermenu-highlight {
  color: inherit;
}

.ubermenu-skin-exort-style .ubermenu-submenu .ubermenu-target:hover,
.ubermenu-skin-exort-style .ubermenu-submenu .ubermenu-active > .ubermenu-target {
  color: #fff;
}

.ubermenu-skin-exort-style .ubermenu-item.ubermenu-active > .ubermenu-submenu-drop,
.ubermenu-nojs .ubermenu-item:hover > .ubermenu-submenu-drop {
  -webkit-animation: fadeInUp 0.5s ease;
  -moz-animation: fadeInUp 0.5s ease;
  animation: fadeInUp 0.5s ease;
}

.ubermenu-skin-exort-style .ubermenu-item .ubermenu-submenu-drop {
  max-height: none;
}

.ubermenu-has-submenu-drop:not(.ubermenu-item-level-0)>a:after {
  font-family: "themify";
  content: "\e649";
  position: absolute;
  right: 25px;
  font-size: 7px;
}

.ubermenu-sub-indicators .ubermenu-has-submenu-drop > .ubermenu-target:after {
  display: none;
}

.ubermenu-skin-exort-style .ubermenu-submenu .ubermenu-target > .ubermenu-target-description {
  color: inherit;
}

.ubermenu-skin-exort-style .ubermenu-submenu .ubermenu-active > .ubermenu-target > .ubermenu-target-description {
  color: #fff;
}

.ubermenu-skin-exort-style .ubermenu-submenu .ubermenu-item-header > .ubermenu-target {
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.ubermenu-skin-exort-style .ubermenu-submenu .ubermenu-item-header > .ubermenu-target span {
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
}

.ubermenu-skin-exort-style .ubermenu-submenu .ubermenu-item-header.ubermenu-has-submenu-stack > .ubermenu-target {
  border-bottom: none;
}

.ubermenu-nojs.ubermenu-skin-exort-style .ubermenu-submenu .ubermenu-tabs .ubermenu-tab:hover > .ubermenu-target,
.ubermenu-skin-exort-style .ubermenu-submenu .ubermenu-tab.ubermenu-active > .ubermenu-target {
  color: #fff;
}

.ubermenu-skin-exort-style .ubermenu-tabs-group,
.ubermenu-skin-exort-style .ubermenu-tab > .ubermenu-target,
.ubermenu-skin-exort-style .ubermenu-tab-content-panel {
  border-color: transparent;
}

.ubermenu-skin-exort-style .ubermenu-submenu-drop {
  border-bottom-width: 0;
}

.ubermenu-skin-exort-style.ubermenu-transition-fade .ubermenu-item .ubermenu-submenu-drop {
  margin-top: 0;
}
